<!-- templates/loans.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  List of available loans
</h1>

<div class="container">
    <table>
        <tr>
            <th>Intent</th>
            <th>Amount</th>
            <th>Rate (%)</th>
            <th></th>
        </tr>
        <tr>
            <td>Education</td>
            <td>10000</td>
            <td>10</td>   
            <td><button class="button is-info" id="loan1" onclick="addLoan(1)">Get</button></td>                   
        </tr>
        <tr>
            <td>Personal</td>
            <td>20000</td>
            <td>15</td>
            <td><button class="button is-info" id="loan2" onclick="addLoan(2)">Get</button></td>            
        </tr>
        <tr>
            <td>Medical</td>
            <td>15000</td>
            <td>8</td>
            <td><button class="button is-info" id="loan3" onclick="addLoan(3)">Get</button></td>
        </tr>
    </table>
</div>
<script type="text/javascript" src="../static/loans.js"></script>

{% endblock %}
