<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>

{% with messages = get_flashed_messages() %}
   {% if messages %}
     <ul class=flashes>
     {% for message in messages %}
       <li>{{ message }}</li>
     {% endfor %}
     </ul>
   {% endif %}
 {% endwith %}

<div class="level-item">
  <form name="user_data" method="post">

    <div class="columns">
      <div class="column is-6">
        <div class="field">
          {{ form.passport.label() }}
          <div class="control">
            {{ form.passport(class="input") }}
          </div>
        </div>

        <div class="field">
          {{ form.phone.label() }}
          <div class="control">
            {{ form.phone(class="input") }}
          </div>
        </div>

        <div class="field">
          {{ form.age.label() }}
          <div class="control">
            {{ form.age(class="input") }}
          </div>
        </div>

        <div class="field">
          {{ form.income.label() }}
          <div class="control">
            {{ form.income(class="input") }}
          </div>
        </div>

        <div class="field">
          {{ form.emp_length.label() }}
          <div class="control">
            {{ form.emp_length(class="input") }}
          </div>
        </div>

      </div>
      <div class="column is-6">

        <div class="field">
          {{ form.defaults_in_past.label() }}
          <div class="control">
            {{ form.defaults_in_past(class="input") }}
          </div>
        </div>

        <div class="field">
          {{ form.hist_length.label() }}
          <div class="control">
            {{ form.hist_length(class="input") }}
          </div>
        </div>

        {{ form.submit(class="button")}}
      </div>
    </div>
  </form>
</div>

{% endblock %}
